APP_NAME=school-enrollment-be
APP_ENV=local
APP_PORT=8080
APP_TIMEZONE=Asia/Bangkok

DB_HOST=localhost
DB_PORT=5432
DB_NAME=school_enrollment
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSLMODE=disable
DB_MAX_IDLE_CONNS=10
DB_MAX_OPEN_CONNS=50
DB_CONN_MAX_LIFETIME=30m
DB_ENABLE_AUTO_MIGRATE=false
DB_ENABLE_DEFAULT_SEED=false

ADMIN_JWT_SECRET=change-me-admin
ADMIN_JWT_EXPIRES_IN=24h

USER_JWT_SECRET=change-me-user
USER_JWT_EXPIRES_IN=24h

CORS_ALLOW_ORIGINS=http://localhost:3000,http://localhost:5173
